$primary-color: #333;
$secondary-color: #ccc;
$text-color: #fff;
$border-color: #888;
$hover-color: #555;
$button-background: #f9f9f9;

body,
h1,
h2,
p,
input,
select,
button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
app-header {
  width: 100%;
  padding: 20px 0;
  background-color: $primary-color;
  color: $text-color;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
header {
  width: 100%;
  padding: 20px 0;
  background-color: $primary-color;
  color: $text-color;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 1.6;
}
  

main {
  width: 80%;
  margin: 20px 0;
  background-color: $secondary-color;
  padding: 20px;
}
    .book-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
      gap: 20px;
    }

    .book {
      border: 1px solid $border-color;
      padding: 10px;
      background-color: $text-color;
      text-align: center;
    }

    .book-details {
      padding: 20px;
      background-color: $text-color;
      border: 1px solid $border-color;
      margin-top: 20px;
    
      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"] {
        width: calc(100% - 12px);
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
      }

      button {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $text-color;
        border: none;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  

  footer {
    width: 100%;
    padding: 10px 0;
    background-color: $primary-color;
    color: $text-color;
    text-align: center;
  }


.login-buttons,
.language-button {
  position: absolute;
  top: 20px;

  &.login-buttons {
    right: 20px;
  }

  &.language-button {
    left: 20px;
  }
}

.pagination {
  margin-top: 20px;
  text-align: center;

  button {
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid $secondary-color;
    background-color: $button-background;
    color: $primary-color;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #e0e0e0;
      color: #000;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

input[type="text"],
select,
button {
  padding: 8px;
  margin-bottom: 10px;
}
select,
button{
  cursor: pointer;
}